# Server
PORT=3000

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/manutencao_industrial"

# JWT
JWT_SECRET="sua-chave-secreta-aqui"
JWT_REFRESH_SECRET="sua-chave-secreta-de-refresh-aqui"